
<p>
	<strong><font size="2"> Commentor:</font></strong>
    <%= comment.commenter %>
</p>
<p>
    <strong><font size="2"> Comment:</font></strong>
    <%=comment.body %>
</p>
<p>
<%= link_to 'Destroy Comment' ,[comment.article, comment],
	               method: :delete,
	               data: { confirm:  'Are you sure?' } %>

</p>


