
<%= image_tag "welcome1.png" %>
<br>
<% if user_signed_in? %>
<% unless current_user.role =='admin' %>
<%= link_to 'Go to Article Page',controller: 'articles'%>
<%end%>
<%end%>
<% if user_signed_in? %>
<% if current_user.role =='admin' %>
<%= link_to 'Users list', {:controller => :userlist, :action => :index} %>
<%end%>
<%end%>
<li><%= link_to 'Sign Up', new_user_registration_path %></li>